In [1]:
import pandas as pd
import numpy as np

gdp_csv.csv  reactpy/  server.py  Untitled.ipynb

In [36]:
df=pd.read_csv("gdp_csv.csv",index_col=False)

In [35]:
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [ ]:
df.groupby(df[Country ])

In [37]:
select_country=df.loc[df["Country Name"].isin(["Kenya"])].reset_index()

In [45]:
year_dict={'Year':select_country['Year'].to_list(),"Value":select_country['Value'].to_list()}

In [46]:
year_dict

{'Year': [1960,
  1961,
  1962,
  1963,
  1964,
  1965,
  1966,
  1967,
  1968,
  1969,
  1970,
  1971,
  1972,
  1973,
  1974,
  1975,
  1976,
  1977,
  1978,
  1979,
  1980,
  1981,
  1982,
  1983,
  1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016],
 'Value': [791265458.813328,
  792959472.134266,
  868111400.008864,
  926589348.567393,
  998759333.637333,
  997919319.974061,
  1164519673.19064,
  1232559505.9162,
  1353295457.51798,
  1458379415.39403,
  1603447357.24209,
  1778391289.20054,
  2107279157.38336,
  2502142444.14182,
  2973309272.02986,
  3259344935.75357,
  3474542392.04597,
  4494378855.32203,
  5303734882.5116,
  6234390975.29871,
  7265315331.62273,
  6854491453.91471,
  6431579357.30273,
  5979198463.82274,
  6191437070.43467,
  6135034338.30431,
  7239126716.93219,
  7970820530.76691,
  8355380879.12955,
  8283114648.38116,
  8572359162.86876,
  8151479004.21334,
  8209129171.73649,
  5751789915.05363,
  7148145375.78545,
  9046326059.98857,
  12045858436.2399,
  13115773737.5664,
  14093998843.7334,
  12896013576.7324,
  12705357103.0056,
  12986007425.8781,
  13147743910.7241,
  14904517649.8476,
  16095337093.8366,
  18737897744.7948,
  25825524820.8064,
  31958195182.2406,
  35895153327.8497,
  37021512048.8158,
  39999659233.7555,
  41953433591.4101,
  50412754821.9795,
  55097343447.5616,
  61445345999.0765,
  63767539356.6051,
  70529014778.3251]}

In [26]:
year_dict=select_country[['Year',"Value"]].to_dict()

{'Year': {6662: 1960,
  6663: 1961,
  6664: 1962,
  6665: 1963,
  6666: 1964,
  6667: 1965,
  6668: 1966,
  6669: 1967,
  6670: 1968,
  6671: 1969,
  6672: 1970,
  6673: 1971,
  6674: 1972,
  6675: 1973,
  6676: 1974,
  6677: 1975,
  6678: 1976,
  6679: 1977,
  6680: 1978,
  6681: 1979,
  6682: 1980,
  6683: 1981,
  6684: 1982,
  6685: 1983,
  6686: 1984,
  6687: 1985,
  6688: 1986,
  6689: 1987,
  6690: 1988,
  6691: 1989,
  6692: 1990,
  6693: 1991,
  6694: 1992,
  6695: 1993,
  6696: 1994,
  6697: 1995,
  6698: 1996,
  6699: 1997,
  6700: 1998,
  6701: 1999,
  6702: 2000,
  6703: 2001,
  6704: 2002,
  6705: 2003,
  6706: 2004,
  6707: 2005,
  6708: 2006,
  6709: 2007,
  6710: 2008,
  6711: 2009,
  6712: 2010,
  6713: 2011,
  6714: 2012,
  6715: 2013,
  6716: 2014,
  6717: 2015,
  6718: 2016},
 'Value': {6662: 791265458.813328,
  6663: 792959472.134266,
  6664: 868111400.008864,
  6665: 926589348.567393,
  6666: 998759333.637333,
  6667: 997919319.974061,
  6668: 1164519673.19064,
  6669: 1232559505.9162,
  6670: 1353295457.51798,
  6671: 1458379415.39403,
  6672: 1603447357.24209,
  6673: 1778391289.20054,
  6674: 2107279157.38336,
  6675: 2502142444.14182,
  6676: 2973309272.02986,
  6677: 3259344935.75357,
  6678: 3474542392.04597,
  6679: 4494378855.32203,
  6680: 5303734882.5116,
  6681: 6234390975.29871,
  6682: 7265315331.62273,
  6683: 6854491453.91471,
  6684: 6431579357.30273,
  6685: 5979198463.82274,
  6686: 6191437070.43467,
  6687: 6135034338.30431,
  6688: 7239126716.93219,
  6689: 7970820530.76691,
  6690: 8355380879.12955,
  6691: 8283114648.38116,
  6692: 8572359162.86876,
  6693: 8151479004.21334,
  6694: 8209129171.73649,
  6695: 5751789915.05363,
  6696: 7148145375.78545,
  6697: 9046326059.98857,
  6698: 12045858436.2399,
  6699: 13115773737.5664,
  6700: 14093998843.7334,
  6701: 12896013576.7324,
  6702: 12705357103.0056,
  6703: 12986007425.8781,
  6704: 13147743910.7241,
  6705: 14904517649.8476,
  6706: 16095337093.8366,
  6707: 18737897744.7948,
  6708: 25825524820.8064,
  6709: 31958195182.2406,
  6710: 35895153327.8497,
  6711: 37021512048.8158,
  6712: 39999659233.7555,
  6713: 41953433591.4101,
  6714: 50412754821.9795,
  6715: 55097343447.5616,
  6716: 61445345999.0765,
  6717: 63767539356.6051,
  6718: 70529014778.3251}}

In [47]:
"https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv"

'https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv'

In [49]:
df2.head()

          COUNTRY  GDP (BILLIONS) CODE
0     Afghanistan           21.71  AFG
1         Albania           13.40  ALB
2         Algeria          227.80  DZA
3  American Samoa            0.75  ASM
4         Andorra            4.80  AND

In [56]:
chloropleth={"country":df2["COUNTRY"].to_list(),"gdp":df2["GDP (BILLIONS)"].to_list(),"code":df2["CODE"].to_list(),}
chloropleth

{'country': ['Afghanistan',
  'Albania',
  'Algeria',
  'American Samoa',
  'Andorra',
  'Angola',
  'Anguilla',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Aruba',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas, The',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bermuda',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'British Virgin Islands',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burma',
  'Burundi',
  'Cabo Verde',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cayman Islands',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombia',
  'Comoros',
  'Congo, Democratic Republic of the',
  'Congo, Republic of the',
  'Cook Islands',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Curacao',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Falkland Islands (Islas Malvinas)',
  'Faroe Islands',
  'Fiji',
  'Finland',
  'France',
  'French Polynesia',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Gibraltar',
  'Greece',
  'Greenland',
  'Grenada',
  'Guam',
  'Guatemala',
  'Guernsey',
  'Guinea-Bissau',
  'Guinea',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hong Kong',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Isle of Man',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jersey',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kosovo',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macau',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia, Federated States of',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Montenegro',
  'Morocco',
  'Mozambique',
  'Namibia',
  'Nepal',
  'Netherlands',
  'New Caledonia',
  'New Zealand',
  'Nicaragua',
  'Nigeria',
  'Niger',
  'Niue',
  'Northern Mariana Islands',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Puerto Rico',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Martin',
  'Saint Pierre and Miquelon',
  'Saint Vincent and the Grenadines',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Sint Maarten',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'South Sudan',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Timor-Leste',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Venezuela',
  'Vietnam',
  'Virgin Islands',
  'West Bank',
  'Yemen',
  'Zambia',
  'Zimbabwe'],
 'gdp': [21.71,
  13.4,
  227.8,
  0.75,
  4.8,
  131.4,
  0.18,
  1.24,
  536.2,
  10.88,
  2.52,
  1483.0,
  436.1,
  77.91,
  8.65,
  34.05,
  186.6,
  4.28,
  75.25,
  527.8,
  1.67,
  9.24,
  5.2,
  2.09,
  34.08,
  19.55,
  16.3,
  2244.0,
  1.1,
  17.43,
  55.08,
  13.38,
  65.29,
  3.04,
  1.98,
  16.9,
  32.16,
  1794.0,
  2.25,
  1.73,
  15.84,
  264.1,
  10360.0,
  400.1,
  0.72,
  32.67,
  14.11,
  0.18,
  50.46,
  33.96,
  57.18,
  77.15,
  5.6,
  21.34,
  205.6,
  347.2,
  1.58,
  0.51,
  64.05,
  100.5,
  284.9,
  25.14,
  15.4,
  3.87,
  26.36,
  49.86,
  0.16,
  2.32,
  4.17,
  276.3,
  2902.0,
  7.15,
  20.68,
  0.92,
  16.13,
  3820.0,
  35.48,
  1.85,
  246.4,
  2.16,
  0.84,
  4.6,
  58.3,
  2.74,
  1.04,
  6.77,
  3.14,
  8.92,
  19.37,
  292.7,
  129.7,
  16.2,
  2048.0,
  856.1,
  402.7,
  232.2,
  245.8,
  4.08,
  305.0,
  2129.0,
  13.92,
  4770.0,
  5.77,
  36.55,
  225.6,
  62.72,
  0.16,
  28.0,
  1410.0,
  5.99,
  179.3,
  7.65,
  11.71,
  32.82,
  47.5,
  2.46,
  2.07,
  49.34,
  5.11,
  48.72,
  63.93,
  51.68,
  10.92,
  11.19,
  4.41,
  336.9,
  2.41,
  12.04,
  10.57,
  0.18,
  4.29,
  12.72,
  1296.0,
  0.34,
  7.74,
  6.06,
  11.73,
  4.66,
  112.6,
  16.59,
  13.11,
  19.64,
  880.4,
  11.1,
  201.0,
  11.85,
  594.3,
  8.29,
  0.01,
  1.23,
  511.6,
  80.54,
  237.5,
  0.65,
  44.69,
  16.1,
  31.3,
  208.2,
  284.6,
  552.2,
  228.2,
  93.52,
  212.0,
  199.0,
  2057.0,
  8.0,
  0.81,
  1.35,
  0.56,
  0.22,
  0.75,
  0.83,
  1.86,
  0.36,
  777.9,
  15.88,
  42.65,
  1.47,
  5.41,
  307.9,
  304.1,
  99.75,
  49.93,
  1.16,
  2.37,
  341.2,
  11.89,
  1400.0,
  71.57,
  70.03,
  5.27,
  3.84,
  559.1,
  679.0,
  64.7,
  529.5,
  9.16,
  36.62,
  373.8,
  4.51,
  4.84,
  0.49,
  29.63,
  49.12,
  813.3,
  43.5,
  0.04,
  26.09,
  134.9,
  416.4,
  2848.0,
  17420.0,
  55.6,
  63.08,
  0.82,
  209.2,
  187.8,
  5.08,
  6.64,
  45.45,
  25.61,
  13.74],
 'code': ['AFG',
  'ALB',
  'DZA',
  'ASM',
  'AND',
  'AGO',
  'AIA',
  'ATG',
  'ARG',
  'ARM',
  'ABW',
  'AUS',
  'AUT',
  'AZE',
  'BHM',
  'BHR',
  'BGD',
  'BRB',
  'BLR',
  'BEL',
  'BLZ',
  'BEN',
  'BMU',
  'BTN',
  'BOL',
  'BIH',
  'BWA',
  'BRA',
  'VGB',
  'BRN',
  'BGR',
  'BFA',
  'MMR',
  'BDI',
  'CPV',
  'KHM',
  'CMR',
  'CAN',
  'CYM',
  'CAF',
  'TCD',
  'CHL',
  'CHN',
  'COL',
  'COM',
  'COD',
  'COG',
  'COK',
  'CRI',
  'CIV',
  'HRV',
  'CUB',
  'CUW',
  'CYP',
  'CZE',
  'DNK',
  'DJI',
  'DMA',
  'DOM',
  'ECU',
  'EGY',
  'SLV',
  'GNQ',
  'ERI',
  'EST',
  'ETH',
  'FLK',
  'FRO',
  'FJI',
  'FIN',
  'FRA',
  'PYF',
  'GAB',
  'GMB',
  'GEO',
  'DEU',
  'GHA',
  'GIB',
  'GRC',
  'GRL',
  'GRD',
  'GUM',
  'GTM',
  'GGY',
  'GNB',
  'GIN',
  'GUY',
  'HTI',
  'HND',
  'HKG',
  'HUN',
  'ISL',
  'IND',
  'IDN',
  'IRN',
  'IRQ',
  'IRL',
  'IMN',
  'ISR',
  'ITA',
  'JAM',
  'JPN',
  'JEY',
  'JOR',
  'KAZ',
  'KEN',
  'KIR',
  'PRK',
  'KOR',
  'KSV',
  'KWT',
  'KGZ',
  'LAO',
  'LVA',
  'LBN',
  'LSO',
  'LBR',
  'LBY',
  'LIE',
  'LTU',
  'LUX',
  'MAC',
  'MKD',
  'MDG',
  'MWI',
  'MYS',
  'MDV',
  'MLI',
  'MLT',
  'MHL',
  'MRT',
  'MUS',
  'MEX',
  'FSM',
  'MDA',
  'MCO',
  'MNG',
  'MNE',
  'MAR',
  'MOZ',
  'NAM',
  'NPL',
  'NLD',
  'NCL',
  'NZL',
  'NIC',
  'NGA',
  'NER',
  'NIU',
  'MNP',
  'NOR',
  'OMN',
  'PAK',
  'PLW',
  'PAN',
  'PNG',
  'PRY',
  'PER',
  'PHL',
  'POL',
  'PRT',
  'PRI',
  'QAT',
  'ROU',
  'RUS',
  'RWA',
  'KNA',
  'LCA',
  'MAF',
  'SPM',
  'VCT',
  'WSM',
  'SMR',
  'STP',
  'SAU',
  'SEN',
  'SRB',
  'SYC',
  'SLE',
  'SGP',
  'SXM',
  'SVK',
  'SVN',
  'SLB',
  'SOM',
  'ZAF',
  'SSD',
  'ESP',
  'LKA',
  'SDN',
  'SUR',
  'SWZ',
  'SWE',
  'CHE',
  'SYR',
  'TWN',
  'TJK',
  'TZA',
  'THA',
  'TLS',
  'TGO',
  'TON',
  'TTO',
  'TUN',
  'TUR',
  'TKM',
  'TUV',
  'UGA',
  'UKR',
  'ARE',
  'GBR',
  'USA',
  'URY',
  'UZB',
  'VUT',
  'VEN',
  'VNM',
  'VGB',
  'WBG',
  'YEM',
  'ZMB',
  'ZWE']}